# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\straw\Desktop\Opdrachten Toegepaste Inf\Programmeren Java\Java1\newGameOfLife\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
